.EmptyText p{
align-content: center;
font-weight: 800;
font-size:50px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ActingBodyCart{

background-image: url("../../assets/bgimage/cart.jpg");
background-size: cover;
background-repeat: no-repeat;
position: absolute;
top:0;
left:0;
right:0;
bottom:0;
}

.ActingBodyPurchase{

  background-image: url("../../assets/bgimage/Purchase.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  }

.Container{
  padding: 40px;
height:50vh;
width:70vh;
background-color: rgba(255, 255, 255, 0.9);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
box-sizing: border-box;
box-shadow: 13px 12px 5px rgba(0, 0, 0, 0.2);

margin: auto;
margin-top: 20vh;
}

.buttonPurchase {
  background: -webkit-linear-gradient(right, #696ccb 0%, #927fd8 51%, #bd97e4 100%);
  background: -moz-linear-gradient(right, #696ccb 0%, #927fd8 51%, #bd97e4 100%);
  background: -o-linear-gradient(right, #696ccb 0%, #927fd8 51%, #bd97e4 100%);
  background: linear-gradient(to left, #696ccb 0%, #927fd8 51%, #bd97e4 100%);
}
